
@{
    ViewBag.Title = "LinqKart";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<link href="~/web3/css/bootstrap.css" rel="stylesheet" />

<link href="~/web3/css/component.css" rel="stylesheet" />

<link href="~/web3/css/export.css" rel="stylesheet" />

<link href="~/web3/css/flipclock.css" rel="stylesheet" />

<link href="~/web3/css/circles.css" rel="stylesheet" />

<link href="~/web3/css/style_grid.css" rel="stylesheet" />

<link href="~/web3/css/style.css" rel="stylesheet" />
<!-- font-awesome-icons -->

<link href="~/web3/css/font-awesome.css" rel="stylesheet" />


    <div class="agile_top_w3_grids" style="margin-top:200px; margin-left:30px;">
        <ul class="ca-menu">
            <li>
                <a href="#">

                    <i class="fa fa-calculator" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main">@ViewBag.dgr1</h4>
                        <h3 class="ca-sub"> Kitap Sayımız</h3>
                    </div>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main one">@ViewBag.dgr2</h4>
                        <h3 class="ca-sub one">Üye Sayımız</h3>
                    </div>
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-toggle-down" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main two">@ViewBag.dgr3</h4>
                        <h3 class="ca-sub two">Alınan Mesaj Sayısı</h3>
                    </div>
                </a>
            </li>


            <li>
                <a href="#">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    <div class="ca-content">
                        <h4 class="ca-main ">@ViewBag.dgr4</h4>
                        <h3 class="ca-sub ">Kategori Sayımız</h3>
                    </div>
                </a>
            </li>

            <div class="clearfix"></div>
        </ul>
    </div>

